*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#e3e6e6;
}

/* ▬▬▬ NAVBAR ▬▬▬ */
.navbar{
    height:80px;
    background:#131921;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 15px;
    color:white;
}

.logo{ width:120px; }

.nav-left{
    display:flex;
    align-items:center;
    gap:20px;
}

.location{ 
    display:flex; 
    gap:5px; 
}

.search-bar{
    display:flex;
    flex:1;
    height: 50px;
    max-width:1100px;
    margin:0 15px;
}

.search-bar select{
    background-color: #E6E6E6;
    border: none;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
}
.search-bar input{
    font-size: 20px;
    flex: 1;              
    padding: 10px;
    border: none;
}

.search-bar button{
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    background:#febd69;
    padding:10px 15px;
    border:none;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:20px;
    cursor: pointer;
}
.nav-item {
    display: flex;
    flex-direction: column;   /* stack text vertically */
    line-height: 1.2;
}
.small-text {
    font-size: 16px;
    color: #ffffff;
}
.nav-item strong {
    font-size: 18px;
}
.language {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 8px;
    cursor: pointer;
}
.language img {
    width: 25px;
    height: 21px;
    object-fit: cover;
}
.language span {
    font-size: 16px;
    font-weight: bold;
}
.language i {
    font-size: 10px;
}
.cart i {
    font-size: 30px;
}

/* ▬▬▬ SUB NAV ▬▬▬ */
.subnav{
    background:#232f3e;
    color:white;
    padding:10px 20px;
    display:flex;
    gap:20px;
    overflow-x:auto;
    font-size: 18px;
}

.subnav a{
    color:white;
    text-decoration:none;
    white-space:nowrap;
}
/* ▬▬▬ HERO ▬▬▬ */
.hero img{
    width:100%;
    height:auto;
}
.shop-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    background: #e3e6e6;
}

.shop-card {
    background: white;
    padding: 20px;
}

.shop-card h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.item img {
    width: 100%;
    height: 110px;
    object-fit: cover;
}

.item p {
    font-size: 13px;
    margin-top: 5px;
}

.shop-card a {
    display: inline-block;
    margin-top: 15px;
    font-size: 14px;
    color: #007185;
    text-decoration: none;
}

.best-sellers {
  padding: 20px;
  background: #e3e6e6;
}

.best-sellers h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

.best-seller-items {
  display: flex;
  gap: 20px;
}

.best-seller-item img {
  width: 110%;
  height: 200px;  
  border-radius: 8px;
  white-space: nowrap;  
  
}

.best-seller-item {
  flex: 1;
  display:block;
}

.best-seller-item:hover img {
  opacity: 0.8;
}

/* ▬▬▬ FOOTER ▬▬▬ */
.footer{
    background:#232f3e;
    color:white;
    padding:40px 20px;
}

.footer-cols{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:20px;
    margin-bottom:20px;
}

.col h4{
    margin-bottom:10px;
}

.col a{
    display:block;
    margin:3px 0;
    color:#ddd;
    text-decoration:none;
}

.logo-footer{
    width:90px;
}

.footer-bottom{
    text-align:center;
    margin-top:20px;
}

/* ▬▬▬ RESPONSIVENESS ▬▬▬ */
@media(max-width:700px){
    .search-bar{
        display:none;
    }
}